{
  "log": {
    "_recordingName": "team-move-missing-label",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 194,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\",\"name\":\"Engineering\",\"key\":\"ENG\"},{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c2-2nUtrb4vVrm59NNuHS8cezeErik\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999851"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769241259935"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4887"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769241259935"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 112,
      },
      {
        "_id": "558d2622134c5368ce5b3f3add0418bb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    mutation($input: IssueLabelCreateInput!) {\\n      issueLabelCreate(input: $input) {\\n        success\\n        issueLabel {\\n          id\\n          name\\n          color\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"input\":{\"teamId\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"test-dow-only\",\"color\":\"#ff0000\"}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 147,
            "text": "{\"data\":{\"issueLabelCreate\":{\"success\":true,\"issueLabel\":{\"id\":\"dfa272ce-ea47-4096-8fa0-b5700f85cf74\",\"name\":\"test-dow-only\",\"color\":\"#ff0000\"}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"93-FJZjh7PSpecGHiiBAGaKBPEHCo8\""
            },
            {
              "name": "x-complexity",
              "value": "3"
            },
            {
      [...]
