{
  "log": {
    "_recordingName": "list-issues-by-state-type",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6cb217fa37ca8bc0fd4fdc443a8b2eef",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($first: Int!, $filter: IssueFilter) {\\n      issues(first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"first\":10,\"filter\":{\"state\":{\"type\":{\"eq\":\"started\"}}}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 33,
            "text": "{\"data\":{\"issues\":{\"nodes\":[]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"21-PKFa7EZ3q+7ITZ8vZtp2aqgNJxo\""
            },
            {
              "name": "x-complexity",
              "value": "10"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999915"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769162146400"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4987"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769162146400"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
