{
  "log": {
    "_recordingName": "update-issue-title",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 115,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"73-WMzqc6aI8nkrXbRM7xO57nzXicQ\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999935"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769239629075"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4988"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769239629075"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      },
      {
        "_id": "eea3e4c35cdb86afb9607276babebb57",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    mutation($input: IssueCreateInput!) {\\n      issueCreate(input: $input) {\\n        success\\n        issue {\\n          id\\n          identifier\\n          title\\n          description\\n          state {\\n            name\\n          }\\n          priority\\n          updatedAt\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"input\":{\"teamId\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"title\":\"Test Issue for Title Update\"}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 254,
            "text": "{\"data\":{\"issueCreate\":{\"success\":true,\"issue\":{\"id\":\"f56f6074-295a-403b-b262-d4074e250a24\",\"identifier\":\"DOW-32\",\"title\":\"Test Issue for Title Update\",\"description\":null,\"state\":{\"name\":\"Backlog\"},\"priority\":0,\"updatedAt\":\"2026-01-24T06:27:09.202Z\"}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"fe-mCgeWt21ebfRu6TvrVTYdQNDQr4\""
            },
            {
              "name": "x-complexity",
              "value": "4"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value"[...]
