{
  "log": {
    "_recordingName": "create-delete-issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 194,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\",\"name\":\"Engineering\",\"key\":\"ENG\"},{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c2-2nUtrb4vVrm59NNuHS8cezeErik\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999842"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769241263419"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4868"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769241263419"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "984393823cf12a6ef295faeb331e0c51",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    mutation($input: IssueCreateInput!) {\\n      issueCreate(input: $input) {\\n        success\\n        issue {\\n          id\\n          identifier\\n          title\\n          description\\n          state {\\n            name\\n          }\\n          priority\\n          updatedAt\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"input\":{\"teamId\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\",\"title\":\"[TEST] Integration test issue\",\"description\":\"This issue was created by an integration test and should be deleted.\"}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 322,
            "text": "{\"data\":{\"issueCreate\":{\"success\":true,\"issue\":{\"id\":\"7f17cb8c-b3bf-4e8f-bc21-2ac2fcf8ccb9\",\"identifier\":\"ENG-21\",\"title\":\"[TEST] Integration test issue\",\"description\":\"This issue was created by an integration test and should be deleted.\",\"state\":{\"name\":\"Backlog\"},\"priority\":0,\"updatedAt\":\"2026-01-24T06:54:23.582Z\"}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"142-rqeEdl+nXMX4MOatXdgf6OfqSHw\""
            },
            {
              "name": "x-complexity",
              "value": "4"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value[...]
