{
  "log": {
    "_recordingName": "create-delete-issue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 115,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"73-WMzqc6aI8nkrXbRM7xO57nzXicQ\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999840"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769135765459"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4996"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769135765459"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100,
      },
      {
        "_id": "9ed9ea45689aa2078ae6191a45dc5a1a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    mutation($input: IssueCreateInput!) {\\n      issueCreate(input: $input) {\\n        success\\n        issue {\\n          id\\n          identifier\\n          title\\n          description\\n          state {\\n            name\\n          }\\n          priority\\n          updatedAt\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"input\":{\"teamId\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"title\":\"[TEST] Integration test issue\",\"description\":\"This issue was created by an integration test and should be deleted.\"}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 321,
            "text": "{\"data\":{\"issueCreate\":{\"success\":true,\"issue\":{\"id\":\"7458936c-7361-4082-9f3d-df8f3616e523\",\"identifier\":\"DOW-8\",\"title\":\"[TEST] Integration test issue\",\"description\":\"This issue was created by an integration test and should be deleted.\",\"state\":{\"name\":\"Backlog\"},\"priority\":0,\"updatedAt\":\"2026-01-23T01:36:05.568Z\"}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"141-Vpf2VWvINEkLzY7m9TY2c2y5PaQ\""
            },
            {
              "name": "x-complexity",
              "value": "4"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value[...]
