{
  "log": {
    "_recordingName": "list-issues-no-filter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "982e3f085b1be518de071ed4d7d24efd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($first: Int!, $filter: IssueFilter) {\\n      issues(first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  dueDate\\n  estimate\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"first\":10}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4782,
            "text": "{\"data\":{\"issues\":{\"nodes\":[{\"id\":\"3cc62404-afc8-4366-a76c-4a9bb20f72fb\",\"identifier\":\"DOW-41\",\"title\":\"Fixed by recovery editor\",\"description\":null,\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-41/fixed-by-recovery-editor\",\"priority\":2,\"createdAt\":\"2026-01-24T06:46:27.515Z\",\"updatedAt\":\"2026-01-24T06:46:30.540Z\",\"dueDate\":null,\"estimate\":null,\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":null,\"labels\":{\"nodes\":[]},\"project\":null},{\"id\":\"e3b6d0aa-2a00-45cd-866f-6d8738c100eb\",\"identifier\":\"DOW-36\",\"title\":\"Fixed by recovery editor\",\"description\":null,\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-36/fixed-by-recovery-editor\",\"priority\":2,\"createdAt\":\"2026-01-24T06:27:21.986Z\",\"updatedAt\":\"2026-01-24T06:27:25.043Z\",\"dueDate\":null,\"estimate\":null,\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":null,\"labels[...]
