{
  "log": {
    "_recordingName": "list-issues-no-filter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f7117d94f2697de52eaa805218a9019f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($first: Int!, $filter: IssueFilter) {\\n      issues(first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"first\":10}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 7669,
            "text": "{\"data\":{\"issues\":{\"nodes\":[{\"id\":\"9ed0a728-033f-4bed-89b3-0d50843609aa\",\"identifier\":\"DOW-11\",\"title\":\"[TEST] Search test 1769158382530\",\"description\":\"Testing searchIssues functionality\",\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-11/test-search-test-1769158382530\",\"priority\":0,\"createdAt\":\"2026-01-23T08:53:02.648Z\",\"updatedAt\":\"2026-01-23T08:53:02.648Z\",\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":null,\"labels\":{\"nodes\":[]},\"project\":null},{\"id\":\"a8dc09c6-85d5-40b8-b772-afa155a4cc97\",\"identifier\":\"DOW-6\",\"title\":\"Test issue from linproj CLI\",\"description\":\"This is a test issue created by the linproj CLI\",\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-6/test-issue-from-linproj-cli\",\"priority\":0,\"createdAt\":\"2026-01-23T01:20:13.222Z\",\"updatedAt\":\"2026-01-23T01:20:13.222Z\",\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":{\"id\":\"09ab9143-6f91-4724-815a-521385edcfea\",\"name\":\"Gabe Vacaliuc\",\"email\":\"gabe.vacaliuc@gmail.com\"},\"labels\":{\"nodes\":[]},\"project\":null},{\"id\":\"5879e0bb-fac9-4422-becf-87106ff3536e\",\"identifier\":\"DOW-5\",\"title\":\"testing testing\",\"description\":\"\",\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-5/testing-testing\",\"priority\":0,\"createdAt\":\"2026-01-23T01:18:13.506Z\",\"updatedAt\":\"2026-01-23T01:18:13.680Z\",\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":{[...]
