{
  "log": {
    "_recordingName": "get-projects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fa4a4a6f1527464ce342af5b6a283a34",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      projects {\\n        nodes {\\n          id\\n          name\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 129,
            "text": "{\"data\":{\"projects\":{\"nodes\":[{\"id\":\"20da0475-da16-4d2f-ac7a-6c7a3798da91\",\"name\":\"ai coding session viewer / investigator\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"81-y0DZ8Tr6QqwfDUWZKQNkTUOFu/c\""
            },
            {
              "name": "x-complexity",
              "value": "60"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999940"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769639453987"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4981"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769639453987"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 143,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
