{
  "log": {
    "_recordingName": "list-issues-by-assignee",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "346f4c33e1ade28a2401b4fd9cf33b82",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      viewer {\\n        id\\n        name\\n        email\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 123,
            "text": "{\"data\":{\"viewer\":{\"id\":\"09ab9143-6f91-4724-815a-521385edcfea\",\"name\":\"Gabe Vacaliuc\",\"email\":\"gabe.vacaliuc@gmail.com\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7b-HRI2zkQqOor1YwnXuPpmSSezf/4\""
            },
            {
              "name": "x-complexity",
              "value": "2"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999913"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769162146560"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4986"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769162146560"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 138,
      },
      {
        "_id": "1a75a648025bc35fc1f8b2d677e15e48",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($first: Int!, $filter: IssueFilter) {\\n      issues(first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"first\":10,\"filter\":{\"assignee\":{\"id\":{\"eq\":\"09ab9143-6f91-4724-815a-521385edcfea\"}}}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1133,
            "text": "{\"data\":{\"issues\":{\"nodes\":[{\"id\":\"a8dc09c6-85d5-40b8-b772-afa155a4cc97\",\"identifier\":\"DOW-6\",\"title\":\"Test issue from linproj CLI\",\"description\":\"This is a test issue created by the linproj CLI\",\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-6/test-issue-from-linproj-cli\",\"priority\":0,\"createdAt\":\"2026-01-23T01:20:13.222Z\",\"updatedAt\":\"2026-01-23T01:20:13.222Z\",\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":{\"id\":\"09ab9143-6f91-4724-815a-521385edcfea\",\"name\":\"Gabe Vacaliuc\",\"email\":\"gabe.vacaliuc@gmail.com\"},\"labels\":{\"nodes\":[]},\"project\":null},{\"id\":\"5879e0bb-fac9-4422-becf-87106ff3536e\",\"identifier\":\"DOW-5\",\"title\":\"testing testing\",\"description\":\"\",\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-5/testing-testing\",\"priority\":0,\"createdAt\":\"2026-01-23T01:18:13.506Z\",\"updatedAt\":\"2026-01-23T01:18:13.680Z\",\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":{\"id\":\"09ab9143-6f91-4724-815a-521385edcfea\",\"name\":\"Gabe Vac[...]
