{
  "log": {
    "_recordingName": "create-project-update",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fa4a4a6f1527464ce342af5b6a283a34",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      projects {\\n        nodes {\\n          id\\n          name\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 129,
            "text": "{\"data\":{\"projects\":{\"nodes\":[{\"id\":\"20da0475-da16-4d2f-ac7a-6c7a3798da91\",\"name\":\"ai coding session viewer / investigator\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"81-y0DZ8Tr6QqwfDUWZKQNkTUOFu/c\""
            },
            {
              "name": "x-complexity",
              "value": "60"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999940"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769639454083"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4981"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769639454083"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 100,
      },
      {
        "_id": "25754ed0ab34d7365977c713accc1d8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    mutation($input: ProjectUpdateCreateInput!) {\\n      projectUpdateCreate(input: $input) {\\n        success\\n        projectUpdate {\\n          id\\n          body\\n          health\\n          url\\n          createdAt\\n          project {\\n            id\\n            name\\n          }\\n          user {\\n            id\\n            name\\n          }\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"input\":{\"projectId\":\"20da0475-da16-4d2f-ac7a-6c7a3798da91\",\"body\":\"[TEST] Integration test project update\",\"health\":\"onTrack\"}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 542,
            "text": "{\"data\":{\"projectUpdateCreate\":{\"success\":true,\"projectUpdate\":{\"id\":\"988fa1d3-235a-4d68-92c6-0e1b9aba745f\",\"body\":\"[TEST] Integration test project update\",\"health\":\"onTrack\",\"url\":\"https://linear.app/downstairs-dawgs/project/ai-coding-session-viewer-investigator-87c6b3d4bd57/updates#project-update-988fa1d3\",\"createdAt\":\"2026-01-28T21:30:54.199Z\",\"project\":{\"id\":\"20da0475-da16-4d2f-ac7a-6c7a3798da91\",\"name\":\"ai coding session viewer / investigator\"},\"user\":{\"id\":\"c3de8e0f-3d04-4488-a606-9c6843d09bac\",\"name\":\"tom.lippman@gmail.com\"}}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"21e-cGfY95B8Wioc+QEiF7jhREZ6m0I\""
            },
            {
              "name": "x-complexity",
              "value": "6"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999934"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769639454197"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4980"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769639454197"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 147,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
