{
  "log": {
    "_recordingName": "create-project-update",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d3e2186bff9a38f9d65fd93007db0a38",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      projects(first: 250) {\\n        nodes {\\n          id\\n          name\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 14491,
            "text": "{\"data\":{\"projects\":{\"nodes\":[{\"id\":\"764e5213-021c-4320-a727-5359ea4efa48\",\"name\":\"[post-training] SWE-Life\"},{\"id\":\"c4088dae-fc2a-430d-9363-0bfd076e6fef\",\"name\":\"[post-training] General chat\"},{\"id\":\"ebe259ee-5b5a-4ebc-8168-1d1dbb69d108\",\"name\":\"Evals\"},{\"id\":\"fbc4d62b-eade-408a-b586-6fe54e6979d9\",\"name\":\"Content filtering\"},{\"id\":\"b4b0f5a4-fed3-4219-a67c-21d43b7ae68b\",\"name\":\"drdiff\"},{\"id\":\"055cfd14-1c3c-44c5-b075-5230a7e30ef9\",\"name\":\"Better process for data ablations\"},{\"id\":\"1[...]
