{
  "log": {
    "_recordingName": "update-issue-unassign",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 115,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"73-WMzqc6aI8nkrXbRM7xO57nzXicQ\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999935"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769239631529"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4978"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769239631529"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187,
      },
      {
        "_id": "346f4c33e1ade28a2401b4fd9cf33b82",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      viewer {\\n        id\\n        name\\n        email\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 123,
            "text": "{\"data\":{\"viewer\":{\"id\":\"09ab9143-6f91-4724-815a-521385edcfea\",\"name\":\"Gabe Vacaliuc\",\"email\":\"gabe.vacaliuc@gmail.com\"}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7b-HRI2zkQqOor1YwnXuPpmSSezf/4\""
            },
            {
              "name": "x-complexity",
              "value": "2"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": [...]
