{
  "log": {
    "_recordingName": "search-issues-no-matches",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fc0d00ebb61c1d9f4107fea87f2055ec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($term: String!, $first: Int!, $filter: IssueFilter) {\\n      searchIssues(term: $term, first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"term\":\"xyznonexistentquery123456789\",\"first\":10}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 39,
            "text": "{\"data\":{\"searchIssues\":{\"nodes\":[]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"27-2KRzpucjUXFi4dKdluLCbXVsJKM\""
            },
            {
              "name": "x-complexity",
              "value": "10"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999978"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769162147628"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4981"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769162147628"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 915,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
