{
  "log": {
    "_recordingName": "issues-list-override-default-team",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "72e759831d639e349ba44b58ed061000",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($first: Int!, $filter: IssueFilter) {\\n      issues(first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  dueDate\\n  estimate\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"first\":50,\"filter\":{\"team\":{\"key\":{\"eq\":\"DOW\"}}}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 28213,
            "text": "{\"data\":{\"issues\":{\"nodes\":[{\"id\":\"dea6358b-ba8e-46fe-9822-0f7dc085d20a\",\"identifier\":\"DOW-79\",\"title\":\"Fixed by recovery editor\",\"description\":null,\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-79/fixed-by-recovery-editor\",\"priority\":2,\"createdAt\":\"2026-01-25T20:59:21.883Z\",\"updatedAt\":\"2026-01-25T20:59:24.481Z\",\"dueDate\":null,\"estimate\":null,\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":null,\"labels\":{\"nodes\":[]},\"project\":null},{\"id\":\"f3298163-2b87-41e5-9dff-181fec1f8a28\",\"identifier\":\"DOW-78\",\"title\":\"review existing approaches / projects\",\"description\":\"before we start anything i want to review existing projects for any techniques that we find interesting or any techniques / patterns that we absolutely want to avoid\\n\\nshort list:\\n\\n* [https://github.com/vibe-log/vibe-log-cli](<https://github.com/vibe-log/vibe-log-cli>)\\n* [https://github.com/KyleAMathews/claude-code-ui](<https://github.com[...]
