{
  "log": {
    "_recordingName": "get-assigned-issues",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "61f9bbd4071ecd2ccb88de4aea24938f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($first: Int!) {\\n      viewer {\\n        assignedIssues(first: $first) {\\n          nodes {\\n            id\\n            identifier\\n            title\\n            state {\\n              name\\n            }\\n            priority\\n            updatedAt\\n          }\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"first\":10}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 407,
            "text": "{\"data\":{\"viewer\":{\"assignedIssues\":{\"nodes\":[{\"id\":\"a8dc09c6-85d5-40b8-b772-afa155a4cc97\",\"identifier\":\"DOW-6\",\"title\":\"Test issue from linproj CLI\",\"state\":{\"name\":\"Backlog\"},\"priority\":0,\"updatedAt\":\"2026-01-23T01:20:13.222Z\"},{\"id\":\"5879e0bb-fac9-4422-becf-87106ff3536e\",\"identifier\":\"DOW-5\",\"title\":\"testing testing\",\"state\":{\"name\":\"Backlog\"},\"priority\":0,\"updatedAt\":\"2026-01-23T01:18:13.680Z\"}]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"197-iLyAYe8o++mKPvdIAmpfSqSacBU\""
            },
            {
              "name": "x-complexity",
              "value": "28"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999905"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769135765360"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4997"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769135765360"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 95,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
