{
  "log": {
    "_recordingName": "get-issue-nonexistent",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4bbadcaeb49097efce041b01c04863e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($identifier: String!) {\\n      issue(id: $identifier) {\\n        \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n      }\\n    }\\n  \",\"variables\":{\"identifier\":\"NONEXISTENT-99999\"}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 269,
            "text": "{\"errors\":[{\"message\":\"Entity not found: Issue\",\"path\":[\"issue\"],\"locations\":[{\"line\":3,\"column\":7}],\"extensions\":{\"type\":\"invalid input\",\"code\":\"INPUT_ERROR\",\"statusCode\":400,\"userError\":true,\"userPresentableMessage\":\"Could not find referenced Issue.\"}}],\"data\":null}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10d-cjXmfr1ZtoFXJYM1JB1zNLwU90w\""
            },
            {
              "name": "x-complexity",
              "value": "9"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999911"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769162145769"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4990"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769162145769"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 134,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
