{
  "log": {
    "_recordingName": "issues-list-with-default-team",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6717dc7494dd74c291e25c565d71dee4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($first: Int!, $filter: IssueFilter) {\\n      issues(first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  dueDate\\n  estimate\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"first\":50,\"filter\":{\"team\":{\"key\":{\"eq\":\"ENG\"}}}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 469,
            "text": "{\"data\":{\"issues\":{\"nodes\":[{\"id\":\"5822d701-5922-4787-8281-1fdb61f127bf\",\"identifier\":\"ENG-29\",\"title\":\"Test Issue\",\"description\":null,\"url\":\"https://linear.app/downstairs-dawgs/issue/ENG-29/test-issue\",\"priority\":0,\"createdAt\":\"2026-01-26T03:05:48.772Z\",\"updatedAt\":\"2026-01-26T03:05:48.772Z\",\"dueDate\":null,\"estimate\":null,\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"ENG\",\"name\":\"Engineering\"},\"assignee\":null,\"labels\":{\"nodes\":[]},\"project\":null}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1d5-u0rlA7GKvZgZBATDUi8WcOyw86E\""
            },
            {
              "name": "x-complexity",
              "value": "11"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999989"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769400656218"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4999"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769400656218"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
