{
  "log": {
    "_recordingName": "search-issues-with-team-filter",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 115,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"73-WMzqc6aI8nkrXbRM7xO57nzXicQ\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999935"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769162148572"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4981"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769162148572"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169,
      },
      {
        "_id": "43942ac6cbf6c8c947ded46b6ce27d7c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($term: String!, $first: Int!, $filter: IssueFilter) {\\n      searchIssues(term: $term, first: $first, filter: $filter) {\\n        nodes {\\n          \\n  id\\n  identifier\\n  title\\n  description\\n  url\\n  priority\\n  createdAt\\n  updatedAt\\n  state {\\n    name\\n    type\\n  }\\n  team {\\n    key\\n    name\\n  }\\n  assignee {\\n    id\\n    name\\n    email\\n  }\\n  labels {\\n    nodes {\\n      name\\n      color\\n    }\\n  }\\n  project {\\n    name\\n  }\\n\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"term\":\"test\",\"first\":10,\"filter\":{\"team\":{\"key\":{\"eq\":\"DOW\"}}}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3054,
            "text": "{\"data\":{\"searchIssues\":{\"nodes\":[{\"id\":\"5879e0bb-fac9-4422-becf-87106ff3536e\",\"identifier\":\"DOW-5\",\"title\":\"testing testing\",\"description\":\"\",\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-5/testing-testing\",\"priority\":0,\"createdAt\":\"2026-01-23T01:18:13.506Z\",\"updatedAt\":\"2026-01-23T01:18:13.680Z\",\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":{\"id\":\"09ab9143-6f91-4724-815a-521385edcfea\",\"name\":\"Gabe Vacaliuc\",\"email\":\"gabe.vacaliuc@gmail.com\"},\"labels\":{\"nodes\":[]},\"project\":null},{\"id\":\"9ed0a728-033f-4bed-89b3-0d50843609aa\",\"identifier\":\"DOW-11\",\"title\":\"[TEST] Search test 1769158382530\",\"description\":\"Testing searchIssues functionality\",\"url\":\"https://linear.app/downstairs-dawgs/issue/DOW-11/test-search-test-1769158382530\",\"priority\":0,\"createdAt\":\"2026-01-23T08:53:02.648Z\",\"updatedAt\":\"2026-01-23T08:53:02.648Z\",\"state\":{\"name\":\"Backlog\",\"type\":\"backlog\"},\"team\":{\"key\":\"DOW\",\"name\":\"Downstairs-dawgs\"},\"assignee\":[...]
