{
  "log": {
    "_recordingName": "update-issue-description",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 194,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\",\"name\":\"Engineering\",\"key\":\"ENG\"},{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c2-2nUtrb4vVrm59NNuHS8cezeErik\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999933"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769241258361"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4895"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769241258361"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      },
      {
        "_id": "54e71ca11baf8263e3a46502c28e7e67",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    mutation($input: IssueCreateInput!) {\\n      issueCreate(input: $input) {\\n        success\\n        issue {\\n          id\\n          identifier\\n          title\\n          description\\n          state {\\n            name\\n          }\\n          priority\\n          updatedAt\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"input\":{\"teamId\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\",\"title\":\"Test Issue for Description Update\"}}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 260,
            "text": "{\"data\":{\"issueCreate\":{\"success\":true,\"issue\":{\"id\":\"a3ecfe94-0b36-4506-94ef-94d023df0935\",\"identifier\":\"ENG-18\",\"title\":\"Test Issue for Description Update\",\"description\":null,\"state\":{\"name\":\"Backlog\"},\"priority\":0,\"updatedAt\":\"2026-01-24T06:54:18.532Z\"}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"104-0r3eGMYD+QAbYRfaRTHOMH6kbxc\""
            },
            {
              "name": "x-complexity",
              "value": "4"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value[...]
