{
  "log": {
    "_recordingName": "get-workflow-states",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 194,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\",\"name\":\"Engineering\",\"key\":\"ENG\"},{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c2-2nUtrb4vVrm59NNuHS8cezeErik\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999935"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769241254882"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4912"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769241254882"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 203,
      },
      {
        "_id": "4608cd9e33e8133741e92e715732182f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($teamId: String!) {\\n      team(id: $teamId) {\\n        states {\\n          nodes {\\n            id\\n            name\\n            type\\n          }\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"teamId\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\"}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 528,
            "text": "{\"data\":{\"team\":{\"states\":{\"nodes\":[{\"id\":\"70da1341-a65f-48fa-8a16-f2b96de13d77\",\"name\":\"Backlog\",\"type\":\"backlog\"},{\"id\":\"6f7ec398-e4cf-4d52-b5ba-2cd85ff28c10\",\"name\":\"Done\",\"type\":\"completed\"},{\"id\":\"5b76eb09-2de8-4b6a-8f30-efa2144d6c3e\",\"name\":\"Duplicate\",\"type\":\"canceled\"},{\"id\":\"43395a71-7f92-463d-9001-938238fbf9a5\",\"name\":\"In Progress\",\"type\":\"started\"},{\"id\":\"14fdfbe9-1689-4710-9a9c-a58c8abb2a36\",\"name\":\"Canceled\",\"type\":\"canceled\"},{\"id\":\"10c797db-13a2-434b-aa59-909c894cfd01\",\"name\":\"Todo\",\"type\":\"unstarted\"}]}}}}\n"
          },[...]
