{
  "log": {
    "_recordingName": "get-labels",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e47afd464221217a03ee891ae8dea25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query {\\n      teams {\\n        nodes {\\n          id\\n          name\\n          key\\n        }\\n      }\\n    }\\n  \"}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 194,
            "text": "{\"data\":{\"teams\":{\"nodes\":[{\"id\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\",\"name\":\"Engineering\",\"key\":\"ENG\"},{\"id\":\"77715990-3013-4620-a72d-e615e6d7eeb9\",\"name\":\"Downstairs-dawgs\",\"key\":\"DOW\"}]}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c2-2nUtrb4vVrm59NNuHS8cezeErik\""
            },
            {
              "name": "x-complexity",
              "value": "65"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999869"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769241255144"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4911"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769241255144"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 132,
      },
      {
        "_id": "573084df53aa6c24b4fe85add8b10590",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\n    query($teamId: String!) {\\n      team(id: $teamId) {\\n        labels {\\n          nodes {\\n            id\\n            name\\n            color\\n          }\\n        }\\n      }\\n    }\\n  \",\"variables\":{\"teamId\":\"02b40065-0a2f-48e1-96e7-a1bc0d41f71f\"}}"
          },
          "queryString": [],
          "url": "https://api.linear.app/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 284,
            "text": "{\"data\":{\"team\":{\"labels\":{\"nodes\":[{\"id\":\"7392e7ef-41da-4f53-b28f-48dfc3a6c924\",\"name\":\"Bug\",\"color\":\"#EB5757\"},{\"id\":\"72f2fc55-1786-4f58-b699-fa9246cae5e7\",\"name\":\"Feature\",\"color\":\"#BB87FC\"},{\"id\":\"1d96a3c6-2627-4032-8727-3dc7eafd2735\",\"name\":\"Improvement\",\"color\":\"#4EA7FC\"}]}}}}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"11c-/SL7E90dVF5S5UyQ0p/2C9alVD8\""
            },
            {
              "name": "x-complexity",
              "value": "66"
            },
            {
              "name": "x-ratelimit-complexity-limit",
              "value": "3000000"
            },
            {
              "name": "x-ratelimit-complexity-remaining",
              "value": "2999803"
            },
            {
              "name": "x-ratelimit-complexity-reset",
              "value": "1769241255265"
            },
            {
              "name": "x-ratelimit-requests-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-requests-remaining",
              "value": "4910"
            },
            {
              "name": "x-ratelimit-requests-reset",
              "value": "1769241255265"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
